<!DOCTYPE html>
<html>
<head>
    <title>Prototype</title>
    <!--<link rel="stylesheet" type="text/css" href="style.css">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h2>Welcome to the prototype financial App</h2>
    <button onclick="getMyAccessToken()">Click to link account</button>
</body>

<footer>
    <script src="javascripts/application.js"></script>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
</footer>
</html>